.top-zi{
    width: 100%;
    height: 46px;
    font-size: 36px;
    margin: auto;
    position: relative;left: 850px;top: 160px;
}


.lb{
    font-size: 21px;
    font-weight: 400;
    position: relative;left: 550px;top: 190px;

}


.lb2{
    font-size: 21px;
    font-weight: 400;
    position: relative;left:550px;top:220px;
}

.lb3{
    font-size: 21px;
    font-weight: 400;
    position: relative;left:550px;top:250px;
}

.lb4{
    font-size: 21px;
    font-weight: 400;
    position: relative;left:550px;top:280px;
}

.lb5{
    font-size: 21px;
    font-weight: 400;
    position: relative;left:550px;top:310px;
}
.lb6{
    font-size: 21px;
    font-weight: 400;
    position: relative;left:547px;top:350px;
}
.lb7{
    font-size: 21px;
    font-weight: 400;
    position: relative;left:660px;top:320px;
}
.lb8{
    font-size: 21px;
    font-weight: 400;
    position: relative;left:550px;top:340px;
}

.lb9{
    font-size: 21px;
    font-weight: 400;
    position: relative;left:550px;top:360px;
}

/*
#textarea{
    width: 60px;
    height: 30px;
} */

.all{
    width: 100%;
    position: relative;
    height: 930px;
    background-color: rgb(93, 213,200);
    background-size: cover;

}


.body{
    font-family: "微软雅黑";
    font-weight: 500;

}
.submit{
    position: relative;left: 900px;top: 400px;

}
#submit{
    width: 90px;
    height: 30px;

}
